/* Text & General */

body{
  font-family: 'Source Sans Pro', sans-serif; 
  background: #f0f8ff;
  height: 800px;
}

h1 {
  display: flex;
  justify-content: center;
  font-family: "Merriweather", serif;
  color: white; 
  background: mediumaquamarine;
  text-align: center;
  padding: 20 0 10 0;
  margin: 5px;
  border-bottom: #162129 solid 3px;
}

h4 {
  display: flex;
  justify-content: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: italic;
  font-size: 14px;
  color: darkgrey; 
  text-align: center;
  margin: 5px;
  text-align: center;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  color: #162129; 
  text-align: left;
  padding: 0 0 5 0;
  margin: 5px;
}

.input3, .input2, .input1 .results2{
  padding: 20 0 0 0;
}

.conj {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: italic;
  color: darkgrey; 
  text-align: center;
  margin: 5 5 5 0;
}

footer{
  background: #162129;
  color: white;
  height: 50px;
  justify-content: center;
  padding: 10 10 10 30;
}

/* Flex Layout */

container{
  display: flex; 
  justify-content: center;
}

.sectioninput, .sectionresults {
  background: rgba(220,220,220, 0.8);
  font-size: 24px;
  padding: 20 20 50;
  margin: 50px;
  width: 600px;
  border: mediumaquamarine solid 3px;  
  font-size: 20px;      
  line-height: 30px;
  height: 450px;
}

.sectioninput{
  justify-content: flex-start;
}

/* Inputs */

button, input[type=radio] + label{
  background: gray;
  border-left: white solid 2px;
  border-top: white solid 2px;
  border-bottom: white solid 2px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
}

button {
  background: gray;
  border-left: white solid 2px;
  border-top: white solid 2px;
  border-bottom: white solid 2px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
}

input[type=radio] {
  display: none;
  justify-content: center;
}

input[type=radio] + label {
  padding: 10;
  border-radius: 10px;
  border: 1px solid mediumaquamarine;
}

input[type=radio]:checked + label {
  background: mediumaquamarine;
}

button:hover, button:active{
  background-color: mediumaquamarine;
  color: white;
}

.input3 .buttons{
  padding: 10 0 0 0;
  justify-content: center;
}

.input3 button{
  font-size: 24px;
}

input{
  background: mediumaquamarine;
  color: white;
}

.verticalline {
  border-left: dotted mediumaquamarine 2px;
  margin: 50 0 0 0;
  height: 1000px;
}

#map {
  border: mediumaquamarine solid 2px;
  height: 100%;
}

/* MEDIA QUERIES */


@media screen and (max-width: 1100px){
  input[type=radio] + label{
      display: flex }
  .sectioninput, .sectionresults {
    height: 450px;}
  }

@media screen and (max-width: 800px) {

  body {
    width: 100%;
    display: block;
  }
  
  container {
    display: block;
  }

  header {
		display: block;
  }

  h2 {
    text-align: center;
  }

.sectioninput, .sectionresults{
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

.input2, #submit{
  display: flex;
  justify-content: center;
}

button {
  font-size: 14px;
  line-height: 14px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 10px 10px 10px;
}

.verticalline{
    display: none;
  }

.zipCodeId{
    padding: 20px;
}
}

