header, footer {
    height: 100px;
}

main, section, aside{
    height:300px;
}

main{
    display: flex;
}

header{
    background: red;
}

section{
    background: green;
    width: 30%;
}

section2{
    background: black;
    width: 40%;
}

aside{
    background: blue;
    width: 30%;
}

footer{
    background: yellow;
}